name: tem

services:
  db:
    container_name: db
    image: gimaevra94/db:latest
    environment: 
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: /run/secrets/db_password
      POSTGRES_DB: db
    ports: 
      - "5432:5432"
    volumes: postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [CMD-SHELL, "pg_isready -U admin -d db"]
      interval: 10s
      timeout: 5s
      retries: 3
    secrets:
      - db_password
volumes:
  postgres_data:
secrets:
  db_password:
    environment: DB_PASSWORD